<h1>About Rolo</h1>

<h2>Back in the day, we used to have phones that couldn't save numbers or infomation.</h2>

	<p>We had to keep track of phone numbers, email addresses, and other information on our own.</p>
	<p>We used Rolodexes, not contact apps.</p>

<h2>Enter Rolo.</h2>

	<p>Contact apps are great, but they can be hard to use, and they generally do one thing well: keep track of contact information.</p>
	<p>There's a lot more that we need to remember than just contact information thought.</p>
	<p>Rolo helps you do just that.</p>

	<h3>Keep Up:</h3>

		<p></p>

	<h3>Follow Up:</h3>

		<p></p>

	<h3>Sync Up:</h3>

		<P></P>