<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @dex.description %>
</p>

<% if @dex.user == current_user %>
	<%= link_to 'Edit', edit_dex_path(@dex) %> |
<% end %>

<%= link_to 'Back', dexes_path %>
